<table>
    <tr>
        <th>User</th>
        <th>Favorite Game</th>
    </tr>
    {{#each games}}
    <tr class="users">
        <td><a href="/{{id}}">{{title}}</a></td>
        <td>{{favGame}}</td>
    </tr>
    {{/each}}
</table>